<div class="auth">
  <form class="auth__form">
    <div class="auth__form-group">
      <label class="auth__form-label">
        Логин
        <input type="text" class="auth__form-input" />
      </label>

      <div class="auth__form-error">
        <span>Логин не подходит под требования</span>
      </div>
    </div>

    <div class="auth__form-group">
      <label class="auth__form-label">
        Пароль
        <input type="text" class="auth__form-input" />
      </label>

      <div class="auth__form-error">
        <span>Пароль не подходит под требования</span>
      </div>
    </div>

    <div class="auth__form-group">
      <button class="auth__form-submit">Регистрация</button>

      <span>или</span>

      <button class="auth__form-submit">Авторизация</button>
    </div>
  </form>
</div>
